@model UrlShortener.Business.UI.Models.UrlDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UrlModel</legend>

    <dl>
        <dt>@Html.DisplayNameFor(model=>model.Key)</dt>
        <dd>@Html.DisplayFor(model=>model.Key)</dd>

        <dt>@Html.DisplayNameFor(model => model.Url)</dt>
        <dd>@Html.DisplayFor(model => model.Url)</dd>

        <dt>@Html.DisplayNameFor(model => model.RequestCount)</dt>
        <dd>@Html.DisplayFor(model => model.RequestCount)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.Created)</dt>
        <dd>@Model.GetCreatedTimestamp()</dd>
        
        <dt>@Html.DisplayNameFor(model => model.Updated)</dt>
        <dd>@Model.GetUpdatedTimestamp()</dd>
        
        <dt>@Html.DisplayNameFor(model => model.LastRequest)</dt>
        <dd>@Model.GetLastRequestTimestamp()</dd>
    </dl>
</fieldset>

<p>
    @Html.ActionLink("Edit", MVC.Url.Edit().AddRouteValue("id", Model.Id)) | 
    @Html.ActionLink("Back to List", MVC.Url.Index())
</p>