@model IEnumerable<UrlShortener.Models.UrlModel>

@{
    ViewBag.Title = "Urls";
}

<h2>Urls</h2>

<p>
    @Html.ActionLink("New", "Create") |
    @Html.ActionLink("Delete All", "DeleteAll")
</p>

<table class="table">
    <tr>
        @*<th>@Html.DisplayNameFor(model=>model.Id)</th>*@
        <th>@Html.DisplayNameFor(model => model.Key)</th>
        <th>@Html.DisplayNameFor(model => model.Url)</th>
        <th>@Html.DisplayNameFor(model => model.RequestCount)</th>
        <th>@Html.DisplayNameFor(model => model.Created)</th>
        <th>@Html.DisplayNameFor(model => model.Updated)</th>
        <th>@Html.DisplayNameFor(model => model.LastRequest)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink(item.Key, "Index", "Go", new { key = item.Key }, null)</td>
            <td>
                <a href="@item.Url">@item.Url</a>

                @{
                    bool isNew = false;
                    TimeSpan age = DateTimeOffset.UtcNow - item.Created;

                    if (age.TotalDays <= TimeSpan.FromDays(1).TotalDays)
                    {
                        isNew = true;
                    }

                    if (isNew)
                    {
                        <span class="label label-success">New</span>
                    }
                }
            </td>
            <td>@Html.DisplayFor(modelItem => item.RequestCount)</td>
            <td>@Html.DisplayFor(modelItem => item.Created)</td>
            <td>@Html.DisplayFor(modelItem => item.Updated)</td>
            <td>@Html.DisplayFor(modelItem => item.LastRequest)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
