@model UrlShortener.Business.UI.Models.Summary

@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
    <h1>My Url Shortener</h1>
    <p class="lead">
        My Url Shortener allows users to create short links to long Urls to make sharing these Urls easier.  To create a new Shortened Url, simply provide a key and the original Url below.
    </p>
</div>

@using (Html.BeginForm(MVC.Url.Create(), FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="span3"></div>
        <div class="span3">
            <label for="Key">Key</label>
            <input id="Key" name="Key" type="text" class="form-control" />
        </div>
        <div class="span6">
            <label for="Url">Url</label>
            <input id="Url" name="Url" type="text" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="span3"></div>
        <div class="span9">
            <button type="submit" class="btn">Create</button>
        </div>
    </div>
}

<div class="row">
    <div class="span6">
        <h2>Recent URLs</h2>
        <table class="table">
            @foreach (var item in Model.NewLinks)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Key)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)

                        @{
                            bool isNew = false;
                            TimeSpan age = DateTimeOffset.UtcNow - item.Created;

                            if (age.TotalDays <= TimeSpan.FromDays(1).TotalDays)
                            {
                                isNew = true;
                            }

                            if (isNew)
                            {
                                <span class="label label-success">
                                    New
                                </span>
                            }
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Created)</td>
                </tr>
            }
        </table>
    </div>
    <div class="span6">
        <h2>Popular URLs</h2>
        <table class="table">
            @foreach (var item in Model.PopularLinks)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Key)</td>
                    <td>@Html.DisplayFor(modelItem => item.Url)</td>
                    <td>@Html.DisplayFor(modelItem => item.RequestCount)</td>
                </tr>
            }
        </table>
    </div>
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@